<a href="https://colab.research.google.com/github/havihavish/Big_Data_Visualization/blob/master/Advanced_Python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Advanced python operations**


Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [0]:
import random
list1=random.sample(range(0,100),12)
print('The random list is',list1)

list1.sort()
print('The random list in ascending order',list1)

list1.sort(reverse=True)
print('The random list in descending order ',list1)

def Average(list1): 
    return sum(list1) / len(list1) 
average = Average(list1) 
print('The averageof the list is  ',average)

The random list is [23, 76, 22, 43, 21, 94, 72, 73, 9, 31, 38, 2]
The random list in ascending order [2, 9, 21, 22, 23, 31, 38, 43, 72, 73, 76, 94]
The random list in descending order  [94, 76, 73, 72, 43, 38, 31, 23, 22, 21, 9, 2]
The averageof the list is   42.0

# String Manipulations
Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [0]:
def splitstring(var):
  lst = var.split(" ")
  siz = len(lst)
  i = 0
  while i < siz:
      var = lst[i]
      check = True
      if ( not var[0].isnumeric() and not var[0].isalpha()):
          lst[i] = var[0]
          lst.insert(i+1,var[1:])
          check = False
          i = i+1
          var = lst[i]
          siz +=1
      if(not var[-1].isnumeric() and not var[-1].isalpha()):
          lst[i] = var[:-1]
          lst.insert(i+1,var[-1])
          check = False
          i = i+2
          siz +=1
      if(check):
          i = i+1
  return lst

def removepunct(var):
  siz = len(var)
  j =0
  while j < siz:
    if( not var[j][0].isnumeric() and not var[j][0].isalpha() ):
      var.pop(j)
      siz = siz-1
    else:
      j = j+1
  return var

def Check_Vow(string): 
	vowels = 'aeiouAEIOU'
	count = {}.fromkeys(vowels, 0) 
	for character in string: 
		if character in count: 
			count[character] += 1	
	return count

In [6]:
# Your code here
#taking input  statements from the user
a=input('enter the first statement  ')
b=input('enter the second statement  ')

lsta = splitstring(a)
lstb = splitstring(b)
print("splitting first statement :"+str(lsta))
print("splitting second statement :"+str(lstb))
print("Common elements: "+ str(list(set(lsta)& set(lstb))))

print("\nAfter removing punctuations:")
print("first statement : "+str(removepunct(lsta)))
print("second statement : "+str(removepunct(lstb)))

print("\nprinting vowels frequency : ")
print ("First sentence:"+ str(Check_Vow(a)))
print ("Second sentence:"+ str(Check_Vow(b)))

enter the first statement  Alas! Am I alive? This is my first python program
enter the second statement  Alas! Am I alive? This is my first python program
splitting first statement :['Alas', '!', 'Am', 'I', 'alive', '?', 'This', 'is', 'my', 'first', 'python', 'program']
splitting second statement :['Alas', '!', 'Am', 'I', 'alive', '?', 'This', 'is', 'my', 'first', 'python', 'program']
Common elements: ['!', 'first', 'This', 'alive', 'python', 'Am', 'I', 'Alas', 'is', 'my', '?', 'program']

After removing punctuations:
first statement : ['Alas', 'Am', 'I', 'alive', 'This', 'is', 'my', 'first', 'python', 'program']
second statement : ['Alas', 'Am', 'I', 'alive', 'This', 'is', 'my', 'first', 'python', 'program']

printing vowels frequency :
First sentence:{'a': 3, 'e': 1, 'i': 4, 'o': 2, 'u': 0, 'A': 2, 'E': 0, 'I': 1, 'O': 0, 'U': 0}
Second sentence:{'a': 3, 'e': 1, 'i': 4, 'o': 2, 'u': 0, 'A': 2, 'E': 0, 'I': 1, 'O': 0, 'U': 0}

# Math operation

The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [0]:
# Your code here
import math 
def volume(r):
  return round(4/3* math.pi * r**3,3)
print("r V")
for r in range(11):
  print(str(r)+" "+str(volume(r)))

r V
0 0.0
1 4.189
2 33.51
3 113.097
4 268.083
5 523.599
6 904.779
7 1436.755
8 2144.661
9 3053.628
10 4188.79



```
# This is formatted as code
```

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/INFO5731_Spring2020/blob/master/Assignments/Assignment1_denton_housing.csv) included with this assignment. The [file Assignment1_denton_housing.csv](https://github.com/unt-iialab/INFO5731_Spring2020/blob/master/Assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [7]:
# Your code here
#1
import pandas as pd
url = "https://raw.githubusercontent.com/unt-iialab/INFO5731_Spring2020/master/Assignments/Assignment1_denton_housing.csv"

df = pd.read_csv(url)

df = df.loc[df['title_field'] == 'Occupied Housing Units']
df = df['value']
df.diff().dropna().sort_values()

17   -5091.0
5    -2622.0
8    -1565.0
11   -1404.0
14     303.0
20     795.0
Name: value, dtype: float64

In [0]:
#2
df = pd.read_csv(url)

occHouse = df.loc[df['title_field'] == 'Occupied Housing Units'].sort_values(by = ['year'])['value'].values.tolist()
vacHouse = df.loc[df['title_field'] == 'Vacant Housing Units'].sort_values(by = ['year'])['value'].values.tolist()
total = df.loc[df['title_field'] == 'Total Housing Units'].sort_values(by=['year'])['value'].values.tolist()

vacantPercent = [str((i/j)*100)+' %' for i,j in zip(vacHouse,total)]
occupPercent = [str((i/j)*100)+' %' for i,j in zip(occHouse,total)]

df = pd.concat([pd.DataFrame(df.loc[df['title_field'] == 'Occupied Housing Units'].sort_values(by = ['year'])['year'].values.tolist(),
                             columns=['Year']),
                pd.DataFrame(vacantPercent,columns =['vacant housing units']),
                pd.DataFrame(occupPercent,columns =['occupied housing units'])],axis=1)
print(df)

   Year vacant housing units occupied housing units
0  2008  10.88265281351653 %    89.11734718648347 %
1  2009   9.07111572444872 %    90.92888427555128 %
2  2010  8.142556337081672 %    91.85744366291833 %
3  2011  9.379522229890688 %     90.6204777701093 %
4  2012  6.677600230491346 %    93.32239976950866 %
5  2013  8.801787504176412 %    91.19821249582358 %
6  2014  5.730110570363885 %    94.26988942963611 %

In [0]:
#3
df = pd.read_csv(url)
df = df.sort_values(by = ['year'])
maxOccupied = df.loc[df['title_field'] == 'Occupied Housing Units','value'].max()
maxVacant = df.loc[df['title_field'] == 'Vacant Housing Units','value'].max()
occDf = df.loc[(df['title_field'] == 'Occupied Housing Units') & (df['value'] == maxOccupied)]
vacDf = df.loc[(df['title_field'] == 'Vacant Housing Units') & (df['value'] == maxVacant)]
df = pd.concat([vacDf,occDf])
print(df[['title_field','year','value']])

               title_field  year  value
19    Vacant Housing Units  2008   4483
2   Occupied Housing Units  2014  46295

In [0]:
#4
from scipy import stats
df = pd.read_csv(url)
total = df.loc[df['title_field'] == 'Total Housing Units','value'].values
print ("harmonic mean of total housing units=  %f"%stats.hmean(total))

harmonic mean of total housing units=  44398.285440