<a href="https://colab.research.google.com/github/havihavish/Big_Data_Visualization/blob/master/count_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd 
df=pd.read_csv('Final_Table_3 (1).csv',low_memory=False)

In [0]:
df.head()

  Unnamed: 0             article_id   authorid  ...  year intent isInfluential
0          0  10.1145/511285.511288   35022826  ...  1975    NaN         FALSE
1          1  10.1145/511285.511288   40005703  ...  1973    NaN         FALSE
2          2  10.1145/511285.511288  144226072  ...  1973    NaN         FALSE
3          3  10.1145/511285.511288    1777876  ...  1977    NaN         FALSE
4          4  10.1145/511285.511288   48264726  ...  1978    NaN         FALSE

[5 rows x 12 columns]

In [0]:
df.dtypes

Unnamed: 0       object
article_id       object
authorid         object
authorname       object
authorurl        object
paperId          object
doi              object
title            object
venue            object
year             object
intent           object
isInfluential    object
dtype: object

In [0]:
y=df.groupby('year')

In [0]:
y.get_group('1975')

   Unnamed: 0             article_id   authorid  ...  year intent isInfluential
0           0  10.1145/511285.511288   35022826  ...  1975    NaN         FALSE
17         17  10.1145/511285.511290    1750566  ...  1975    NaN         FALSE
18         18  10.1145/511285.511290    2395791  ...  1975    NaN         FALSE
19         19  10.1145/511285.511290  145970924  ...  1975    NaN         FALSE
30         30  10.1145/511285.511290    1750566  ...  1975    NaN         FALSE

[5 rows x 12 columns]

In [0]:
df.groupby('year').size()

year
1959        4
1971        2
1972        2
1973       22
1974        4
1975        5
1976        5
1977       11
1978        5
1979        9
1980        6
1981        4
1982       10
1983        7
1984        6
1985       28
1986       44
1987       86
1988      136
1989      225
1990      102
1991      285
1992      444
1993      571
1994      712
1995     1007
1996     1216
1997     1808
1998     2707
1999     3238
2000     4176
2001     4924
2002     6597
2003     7997
2004    11090
2005    12573
2006    15164
2007    18751
2008    22898
2009    26240
2010    27556
2011    29821
2012    32154
2013    33534
2014    35374
2015    37040
2016    39984
2017    41439
2018    41883
2019    44487
2020     8956
year        2
dtype: int64

In [0]:
count=df.groupby(['year','isInfluential']).size()

In [0]:
print(count)

year  isInfluential
1959  FALSE                4
1971  FALSE                2
1972  FALSE                2
1973  FALSE               22
1974  FALSE                2
                       ...
2019  FALSE            39415
      TRUE              5072
2020  FALSE             7767
      TRUE              1189
year  isInfluential        2
Length: 88, dtype: int64

In [0]:
count.shape

(88,)

In [0]:
count_df = pd.DataFrame({'Count' : df.groupby( [ 'year','isInfluential'] ).size()}).reset_index()

In [0]:
count_df.head(10)

   year isInfluential  Count
0  1959         FALSE      4
1  1971         FALSE      2
2  1972         FALSE      2
3  1973         FALSE     22
4  1974         FALSE      2
5  1974          TRUE      2
6  1975         FALSE      5
7  1976         FALSE      5
8  1977         FALSE     11
9  1978         FALSE      5

In [0]:
count_df.to_csv('count_file.csv')

In [0]:
count_year = count_df.pivot_table('Count',['year'],'isInfluential')
count_year

isInfluential    FALSE    TRUE  isInfluential
year
1959               4.0     NaN            NaN
1971               2.0     NaN            NaN
1972               2.0     NaN            NaN
1973              22.0     NaN            NaN
1974               2.0     2.0            NaN
1975               5.0     NaN            NaN
1976               5.0     NaN            NaN
1977              11.0     NaN            NaN
1978               5.0     NaN            NaN
1979               9.0     NaN            NaN
1980               6.0     NaN            NaN
1981               4.0     NaN            NaN
1982              10.0     NaN            NaN
1983               6.0     1.0            NaN
1984               6.0     NaN            NaN
1985              28.0     NaN            NaN
1986              44.0     NaN            NaN
1987              85.0     1.0            NaN
1988             132.0     4.0            NaN
1989             220.0     5.0            NaN
1990              91.0    11.0            NaN
1991             276.0     9.0            NaN
1992             422.0    22.0            NaN
1993             553.0    18.0            NaN
1994             656.0    56.0            NaN
1995             955.0    52.0            NaN
1996            1142.0    74.0            NaN
1997            1720.0    88.0            NaN
1998            2585.0   122.0            NaN
1999            3031.0   207.0            NaN
2000            3861.0   315.0            NaN
2001            4531.0   393.0            NaN
2002            5940.0   657.0            NaN
2003            7335.0   662.0            NaN
2004           10042.0  1048.0            NaN
2005           11339.0  1234.0            NaN
2006           13606.0  1558.0            NaN
2007           16516.0  2235.0            NaN
2008           20353.0  2545.0            NaN
2009           23512.0  2728.0            NaN
2010           24463.0  3093.0            NaN
2011           26373.0  3448.0            NaN
2012           28327.0  3827.0            NaN
2013           29716.0  3818.0            NaN
2014           31311.0  4063.0            NaN
2015           32876.0  4164.0            NaN
2016           35272.0  4712.0            NaN
2017           36873.0  4566.0            NaN
2018           37368.0  4515.0            NaN
2019           39415.0  5072.0            NaN
2020            7767.0  1189.0            NaN
year               NaN     NaN            2.0

In [0]:
for col in count_year.columns:
    print(col)

FALSE
TRUE
isInfluential

In [0]:
false_count=count_year.iloc[:,0].sum()
print(false_count)

458835.0

In [0]:
true_count=count_year.iloc[:,1].sum()
print(true_count)

56514.0

In [0]:
total=false_count+true_count
total

515349.0

In [0]:
true_avg=true_count/total
true_avg

0.10966160795887835

In [0]:
false_count=count_year.iloc[:1,0].sum()
true_count=count_year.iloc[:1,1].sum()
total=false_count+true_count
true_avg=true_count/total
mean_df = pd.DataFrame(columns=['year_range','Fraction of influential citations',
                                'mean'])
print('Fraction of influential citations for 1951:',true_avg)
for i in range(1,len(count_year),5):
  false_count=count_year.iloc[i:i+5,0].sum()
  true_count=count_year.iloc[i:i+5,1].sum()
  total=false_count+true_count
  true_frac=true_count/total
  true_mean=true_count/5
  # print('Fraction of influential citations for 5 years:',true_frac)
  # print('Mean of influential citations for 5 years:',true_mean)
  # print(count_df['year'].unique()[i])
  year_range = str(int(count_df['year'].unique()[i])) + " - "+str(int(count_df['year'].unique()[i+4]))
  mean_df = mean_df.append({'year_range':year_range,'Fraction of influential citations':true_frac,'mean':true_mean},ignore_index=True)

Fraction of influential citations for 1951: 0.0

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: RuntimeWarning: invalid value encountered in double_scalars
  if sys.path[0] == '':

ValueError: ignored

In [0]:
mean_df.head()

    year_range  Fraction of influential citations    mean
0  1996 - 2000                           0.072589    28.6
1  2001 - 2005                           0.102750   319.8
2  2006 - 2010                           0.114632  1592.6
3  2011 - 2015                           0.120390  2583.6
4  2016 - 2020                           0.115611  2905.6

In [0]:
mean_df.to_csv('citation mean.csv')

In [0]:
count_year.columns

Index([False, True], dtype='object', name='isInfluential')

In [0]:
true_avg_lst = []
for i in range(len(count_year)):
  false_count=count_year.iloc[i:i+1,0].sum()
  true_count=count_year.iloc[i:i+1,1].sum()
  total=false_count+true_count
  true_avg=true_count/total
  true_avg_lst.append(true_avg)
  print(count_df['year'].unique()[i], ':',true_avg)

1979.0 : 0.0
1996.0 : 0.0
1997.0 : 0.10526315789473684
1998.0 : 0.050761421319796954
1999.0 : 0.05213903743315508
2000.0 : 0.0919080919080919
2001.0 : 0.09027777777777778
2002.0 : 0.11547344110854503
2003.0 : 0.10397326401782399
2004.0 : 0.09376636982713463
2005.0 : 0.10668380462724936
2006.0 : 0.09747434885556433
2007.0 : 0.12577476876132354
2008.0 : 0.12044836956521739
2009.0 : 0.11172940534642663
2010.0 : 0.11360288099525291
2011.0 : 0.12060126424767309
2012.0 : 0.12485436893203883
2013.0 : 0.1197239684265255
2014.0 : 0.11911916401309593
2015.0 : 0.11806875107963379
2016.0 : 0.12043328027332376
2017.0 : 0.11071987480438185
2018.0 : 0.10903693931398417
2019.0 : 0.1176025603724178
2020.0 : 0.1359154929577465
1959 : nan
1971 : nan
1972 : nan
1973 : nan
1974 : nan
1975 : nan
1976 : nan
1977 : nan
1978 : nan
1979 : nan
1980 : nan
1981 : nan
1982 : nan
1983 : nan
1984 : nan
1985 : nan
1986 : nan
1987 : nan
1988 : nan
1989 : nan
1990 : nan
1991 : nan
1992 : nan
1993 : nan
1994 : nan
1995 : nan
1996 : nan
1997 : nan
1998 : nan
1999 : nan
2000 : nan
2001 : nan
2002 : nan
2003 : nan
2004 : nan
2005 : nan
2006 : nan
2007 : nan
2008 : nan
2009 : nan
2010 : nan
2011 : nan
2012 : nan
2013 : nan
2014 : nan
2015 : nan
2016 : nan
2017 : nan
2018 : nan
2019 : nan
2020 : nan
J. Assoc. Inf. Sci. Technol. : nan
year : nan

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: RuntimeWarning: invalid value encountered in double_scalars

In [0]:
count_year['Fraction of influential citations'] = true_avg_lst

In [0]:
count_year

isInfluential    False    True  Fraction of influential citations
year
1959.0             1.0     NaN                           0.000000
1971.0             2.0     NaN                           0.000000
1972.0             2.0     NaN                           0.000000
1973.0            10.0     NaN                           0.000000
1974.0             1.0     1.0                           0.500000
1975.0             3.0     NaN                           0.000000
1976.0             2.0     NaN                           0.000000
1977.0             8.0     NaN                           0.000000
1978.0             2.0     NaN                           0.000000
1979.0             6.0     NaN                           0.000000
1980.0             5.0     NaN                           0.000000
1981.0             3.0     NaN                           0.000000
1982.0             5.0     NaN                           0.000000
1983.0             6.0     1.0                           0.142857
1984.0             3.0     NaN                           0.000000
1985.0            16.0     NaN                           0.000000
1986.0            23.0     NaN                           0.000000
1987.0            45.0     1.0                           0.021739
1988.0            65.0     3.0                           0.044118
1989.0           109.0     3.0                           0.026786
1990.0            61.0     5.0                           0.075758
1991.0           125.0     4.0                           0.031008
1992.0           218.0    12.0                           0.052174
1993.0           253.0     7.0                           0.026923
1994.0           359.0    31.0                           0.079487
1995.0           439.0    29.0                           0.061966
1996.0           557.0    35.0                           0.059122
1997.0           708.0    49.0                           0.064729
1998.0          1059.0    59.0                           0.052773
1999.0          1202.0    96.0                           0.073960
2000.0          1639.0   156.0                           0.086908
2001.0          1814.0   155.0                           0.078720
2002.0          2321.0   262.0                           0.101432
2003.0          2761.0   281.0                           0.092373
2004.0          3666.0   382.0                           0.094368
2005.0          4359.0   458.0                           0.095080
2006.0          5149.0   601.0                           0.104522
2007.0          6158.0   827.0                           0.118397
2008.0          7287.0   915.0                           0.111558
2009.0          8293.0   990.0                           0.106647
2010.0          8257.0  1051.0                           0.112914
2011.0          9031.0  1197.0                           0.117032
2012.0          9811.0  1302.0                           0.117160
2013.0         10088.0  1316.0                           0.115398
2014.0         11012.0  1415.0                           0.113865
2015.0         10876.0  1376.0                           0.112308
2016.0         11296.0  1391.0                           0.109640
2017.0         11507.0  1372.0                           0.106530
2018.0         10776.0  1338.0                           0.110451
2019.0         10482.0  1354.0                           0.114397
2020.0          1954.0   299.0                           0.132712

In [0]:
count_year.to_csv('count_analysis.csv')