In [1]:
x = 3
print ("x is a variable. It is an identifier. Its value is: ",x,"\n")

x is a variable. It is an identifier. Its value is:  3

In [2]:
x = 3
print("Data Type of x:", type(x),'\n')

Data Type of x: <class 'int'>

In [3]:
stdName= "John Smith"
print ("stdName is a variable. It is an identifier. Its value is: ",stdName,"\n")

stdName is a variable. It is an identifier. Its value is:  John Smith

In [4]:
stdName= "John Smith"
print("Data Type of stdName:", type(stdName),'\n')

Data Type of stdName: <class 'str'>

In [5]:
x = 5
y = 5

isTrue = "x is y"
isFalse= "x is not y"

if (x is y):
    print(isTrue)
else:
    print (isFalse)

x is y

In [6]:
x = 5
y = 8

isTrue = "x is y"
isFalse= "x is not y"

if (x is y):
    print(isTrue)
else:
    print(isFalse)

x is not y

In [7]:
x = 5
y = 8

isTrue = "x is not y"
isFalse= "x is y"

if (x is y):
    print(isTrue)
else:
    print(isFalse)

x is y

In [8]:
x = 'Hello World'
if ('H' in x):
    print ("H in x")
else:
    print ("H not in x")

H in x

In [10]:
aList = [1,2,3,4,5]
if(8 not in aList):
    print("8 not in aList")
else:
    print("8 in aList")

8 not in aList

In [11]:
pi=3.14159
radius=float(input("Enter radius: "))
unit=input("Enter units: ") # unit: cms,inches,ft,m
diameter= 2*radius
circumference=diameter * pi
print("Diameter: ",diameter,unit)
print("Circumference: ",circumference,unit)

Enter radius: 2
Enter units: cms
Diameter:  4.0 cms
Circumference:  12.56636 cms

In [12]:
# This is a comment
x = 3
x

3

In [13]:
# Print "Hello World" to console
print ("Hello, World!")

Hello, World!

In [14]:
# Inline Comment
x = 3 # This is an inline comment
x

3

In [15]:
# This is a comment of multiple lines, also known as block comment
# Add another line of comment
# Add another line
# And another line

x = 3
x

3